/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
        /*  CSS RESET   */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol, ul {
            list-style: none;
        }
        
        blockquote, q {
            quotes: none;
        }
        
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        

* {
    text-align: center;
    font-family: 'VT323', monospace;
    color: rgba(0,0,0,.9);
}       

body {
    font-family: 'VT323', monospace;
    min-height: 100vh;
    /* border: 5px solid red; */
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    background-color: rgba(0,128,0,.8);
}

/* Page Layout */
header {
    border: 3px solid green;
    font-size: 3em;
}

main{
/*     border: 3px solid blue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer{
    border: 3px solid purple;
}

/* Starting Menus */

.start-menu, .game-type-menu {
    font-size: 3em;
    display: grid;
}

.start-btn,
button[class*="game"] {
    border: none;
    font-size: .4em;
}


/* Game Board */
 .game-grid {
    display: grid;
    border: 3px solid black;
    justify-content: center;
    align-content: center;
    height: 60vh;
    width: 60vw;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
} 

.game-grid > div {
    font-size: 9em;
    border: 2px solid white;
    background-color: gray;
}

.game-grid > div:hover {
    background-color: rgb(165, 158, 158);
}